<% user = current_user %>
<% if @msgs.size>0 %>
  <div class="alert alert-info">
    <b>您有未读的系统消息：</b><br/>
    <% @msgs.each do |msg| %>
      <img src="/images/msg.gif">
      <%= link_to msg.title, {:controller => "msg", :action => "msg_view", :id => msg.id} %>
    <% end %>
  </div>
<% end %>

<% if user -%>
    <h1 class="title">通用</h1>
    <%= link_to "上班打卡", {:controller => "attendance", :action => "add_record", :flag => 1, :r => rand} %>&nbsp;&nbsp;
    <%= link_to "下班打卡", {:controller => "attendance", :action => "add_record", :flag => 2, :r => rand} %>&nbsp;&nbsp;
    <%= link_to "查看打卡信息", {:controller => "attendance", :action => "show_record", :r => rand} %>
    <br/>
<% end -%>

<% if user.is_sales? or user.is_admin? -%>
<h1 class="title">销售部</h1>
<%= link_to "搜索公司", {:controller => "crm", :action => "search"} %>
<%= link_to "添加公司", {:controller => "crm", :action => "firm_edit"} %>  <br/>
<%= link_to "我的公司", {:controller => "crm", :action => "my_firms"} %>
<%= link_to "我的跟进任务", {:controller => "crm", :action => "my_recall"} %>
<%= link_to "招聘需求列表", {:controller => "crm", :action => "demand_list"} %>
<%= link_to "我的订单", {:controller => "crm", :action => "my_orders"} %>
<%#= link_to "我的日报", {:controller => "crm", :action => "my_daily"} %>
<% end -%>

<% if user.is_res? or user.is_admin? -%>
<h1 class="title">顾问部</h1>
<%= link_to "资源搜索", {:controller => "res", :action => "search"} %>
<%= link_to "添加公司", {:controller => "res", :action => "firm_edit"} %>  <br/>
<%= link_to "我的资源", {:controller => "res", :action => "my_firms"} %>
<%= link_to "我的跟进任务", {:controller => "res", :action => "my_recall"} %>
<%= link_to "招聘需求列表", {:controller => "res", :action => "demand_list"} %>
<%= link_to "候选人列表", {:controller => "res", :action => "contact_list"} %>
<%= link_to "我的订单", {:controller => "res", :action => "my_orders"} %>
<%#= link_to "我的日报", {:controller => "res", :action => "my_daily"} %>
<%= link_to "补充资源库", {:controller => "res", :action => "other_db_list"} -%>
<% end -%>

<% if user.is_hr? or user.is_admin? -%>
<h1 class="title">人事部</h1>
<%= link_to "员工列表", {:controller => "employees", :action => "list"} %>
<% end -%>

<% if user.is_admin? -%>
    <h1 class="title">财务</h1>
    <%= link_to "订单列表", {:controller => "financial", :action => "order_list"}, :target => "_blank" %>
    <h1 class="title">设置</h1>
    <%= link_to "职位类型一览", {:controller => "firm_types", :action => "list"}, :target => "_blank" %>
<% end -%>



