<h1 class="title"><%= @title %> - <%= @employee.username -%></h1>
<%= form_tag "/employees/set_firm_type" do %>
    <%= hidden_field_tag "id", params[:id] -%>
    <% @firm_types.each do |type| -%>
        <%= check_box_tag "firm_type[]", type.id, params[:firm_type].include?(type.id) -%>
        <%= type.name -%>
        <br/>
    <% end -%>
    <br/>
    <%= submit_tag "保存", :class => "btn btn-primary" -%>
<% end %>