<h1 class="title"><%= @title %>
  <%= button_to_function "修改", "go_url('/employees/edit/#{@employee.id}')", :class => "btn" %>
  <%= button_to_function "删除", "confirm_url('确定删除？','/employees/destroy/#{@employee.id}')", :class => "btn" %>
  <%= button_to_function "设置权限", "go_url('/employees/set_firm_type/#{@employee.id}')", :class => "btn" %>
</h1>
<table class="blue_tb" style="100%">
  <tr>
    <th>用户名</th>
    <td><%= @employee.username %></td>
    <th>密码</th>
    <td><%= @employee.decode_pass %></td>
    <th>允许登录？</th>
    <td><%= @employee.active==1 ? '是' : '否' %></td>
  </tr>
  <tr>
    <th>部门</th>
    <td><%= @employee.department %></td>
    <th>角色</th>
    <td><%= @employee.roles_employee.role_name %></td>
    <th>手机</th>
    <td><%= @employee.mobile %></td>
  </tr>
  <tr>
    <th>邮箱</th>
    <td><%= @employee.email %></td>
    <th>入职时间</th>
    <td><%= format_date(@employee.join_date, :date) %></td>
    <th>座机</th>
    <td><%= @employee.phone %></td>
  </tr>
  <tr>
    <th>分机</th>
    <td><%= @employee.phone_ext %></td>
    <th>离职时间</th>
    <td><%= format_date(@employee.leave_date, :date) %></td>
    <th>离职原因</th>
    <td><%= @employee.leave_reason %></td>
  </tr>
</table>