<table class="list_tb">
  <tr class="title">
    <td>公司</td>
    <td>对象</td>
    <td>职位</td>
    <td>电话</td>
    <td>日期</td>
    <td>备注</td>
    <td>最后修改</td>
    <td>完成情况</td>
    <td>操作</td>
  </tr>
  <% dailies.each do |d| %>
      <% if d.completed_flag.to_i > 0
        color = "black"
        elsif d.day.to_s > Time.now.strftime("%Y-%m-%d")
        color = "blue"
        else
        color = "red"
         end -%>
      <tr>
        <td style="color: <%= color -%>">
          <%= d.show_firm_name -%>
        </td>
        <td style="color: <%= color -%>"><%= d.show_contact_name %></td>
        <td style="color: <%= color -%>"><%= d.position_cn  %></td>
        <td style="color: <%= color -%>"><%= d.phone  %></td>
        <td style="color: <%= color -%>"><%= d.day %></td>
        <td style="color: <%= color -%>"><%= d.notes %></td>
        <td style="color: <%= color -%>"><%= d.edit_info %></td>
        <td style="color: <%= color -%>"><%= d.completed_label %></td>
        <td>
          <%= link_to "查看", {:action => "daily_view", :id => d.id}, :target => "_blank", :title => "查看详细需求" -%>&nbsp;&nbsp;
          <%= link_to "修改", {:controller => "#{params[:db_type]}", :action => "daily_edit", :id => d.id}, :target => "_blank" -%>&nbsp;&nbsp;
          <%= link_to "删除", {:controller => "#{params[:db_type]}", :action => "daily_destroy", :id => d.id}, :confirm => "Are you sure?" -%>
        </td>
      </tr>
  <% end %>
</table>