<h1 class="title"><%= @title %></h1>
<%= include_datepicker %>
<script type="text/javascript" src="/jquery/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.autocomplete.css"/>
<script>
    $(document).ready(function () {
        $("#daily_firm_name").autocomplete("/sales/auto_object", {
            delay:10,
            minChars:0,
            multiple:false,
            parse:function (data) {
                return $.map(eval(data), function (item) {
                    return {
                        data:item,
                        value:item.name,
                        result:item.name
                    }
                });
            },
            formatItem:function (item) {
                return item.name;
            }
        }).result(function (e, item) {
                    $("#daily_firm_name").val(item.name);
                    $("#daily_obj_id").val(item.id);
                });
        $("#daily_contact_name").autocomplete("/sales/auto_contact", {
            delay:10,
            minChars:0,
            cacheLength:0,
            extraParams:{firm_id:function () {
                return $('#daily_obj_id').val();
            }},
            multiple:false,
            parse:function (data) {
                return $.map(eval(data), function (item) {
                    return {
                        data:item,
                        value:item.name,
                        result:item.name
                    }
                });
            },
            formatItem:function (item) {
                return item.name;
            }
        }).result(function (e, item) {
                    $("#daily_contact_name").val(item.name);
                    $("#daily_contact_id").val(item.id);
                });
    });
</script>
<%= form_for @daily, :url => "/#{params[:db_type]}/daily_update" do |f| %>
    <%= hidden_field_tag "id", params[:id] -%>
    <%= hidden_field_tag "type", params[:db_type] -%>
    <%= errors_for @daily %>
    <table class="blue_tb" witdh=100%>
      <tr class="title">
        <th>项目ID</th>
        <th>公司名</th>
        <th>联系人/候选人</th>
        <th>电话</th>
        <th>职位</th>
        <th>日期</th>
        <th>已完成？</th>
        <th>备注</th>
        <th>面试安排</th>
      </tr>

      <tr>
        <td>
          <%= text_field_tag "daily[demand_id]", @daily.try(:demand_id), :style => "width:80px;" -%>
        </td>
        <td>
          <%= text_field_tag "daily[firm_name]", @daily.try(:show_firm_name), :style => "width:180px;" %>
          <%= hidden_field_tag "daily[obj_id]", @daily.try(:obj_id) %>
        </td>
        <td>
          <%= text_field_tag "daily[contact_name]", @daily.try(:show_contact_name), :style => "width:100px;" %>
          <%= hidden_field_tag "daily[contact_id]", @daily.try(:contact_id) %>
        </td>
        <td><%= text_field_tag "daily[phone]", @daily.try(:phone), :style => "width:100px;" %></td>
        <td><%= text_field_tag "daily[position_cn]", @daily.try(:position_cn), :style => "width:100px;" %></td>
        <td><%= text_field_tag "daily[day]", @daily.try(:day), :class => "datepicker" %></td>
        <td><%= check_box_tag "daily[completed_flag]", 1, (@daily.try(:completed_flag).to_i > 0 ? true : false) %> 完成任务</td>
        <td>
          <%= text_area_tag "daily[notes]", @daily.try(:notes), :style => "width:240px;height:40px;" -%>
        </td>
        <td><%= text_field_tag "daily[app_interview_date]",  @daily.try(:app_interview_date), :class => "datepicker" -%></td>
      </tr>
      <tr>
        <th></th>
        <td colspan="6">
          <%= submit_tag "保存", :class => "btn btn-primary" %>
          <%= button_to_function "取消", "cancel()", :class => "btn" %></td>
      </tr>
    </table>
<% end %>