<h1 class="title"><%= @title %>
  <%= button_to_function "添加日报", "go_url('/#{params[:db_type]}/add_daily.php')", :class => "btn" %>
  <%= button_to_function "导出日报", "go_url('/#{params[:db_type]}/output_daily.php')", :class => "btn" %>
</h1>
<%= include_datepicker %>
<%= form_tag "/#{params[:db_type]}/my_daily" do %>
  <table>
    <tr>
      <td>员工：<%= select_tag :created_by_eq, options_for_select([['所有', '']]+@emps, (params[:created_by_eq] rescue '')) %></td>
      <td>&nbsp;日期：<%= text_field_tag :day_eq, params[:day_eq], :class => 'datepicker' %></td>
      <td>&nbsp;&nbsp;<%= submit_tag "确定", :class => "btn btn-primary" -%></td>
    </tr>
  </table>
<% end %>

<%= page_links @dailies %>
<%= render :partial => "/daily/daily_list", :locals => {:dailies => @dailies} %>
<%= page_links @dailies %>