<% recalls.each do |r|
  contact = r.contact %>
    <tr>
      <% if r.complete == 1
           color = "black"
         else
           color = (r.appt_date > Time.now ? "blue" : "red")
         end
      -%>
      <% if @show_firm_in_recall_list -%>
          <td><%= link_to_function r.firm.firm_name, "open_url('/#{params[:db_type]}/firm_show/#{r.firm_id}')", :style => "color: #{color}" if r.firm -%></td>
      <% end -%>
      <td><%= link_to_function format_date(r.appt_date, :min), "open_url('/#{params[:db_type]}/recall_edit/#{r.id}')", :style => "color: #{color}" %></td>
      <td>
        <% if contact -%>
        <%= link_to_function contact.full_name(true, true), "open_url('/#{params[:db_type]}/contact_show/#{contact.id}')", :style => "color: #{color}" if contact %>
        <%= "(已离职)".red.html_safe if contact.try(:resigned).to_i > 0 -%>
        <% end -%>
      </td>
      <td style="color: <%= color -%>"><%= r.contact_by_label %></td>
      <td style="color: <%= color -%>"><%= r.stage %></td>
      <td style="color: <%= color -%>"><%= r.employee.username %></td>
      <td style="color: <%= color -%>"><%= simple_format r.notes %></td>
      <% if @show_firm_in_recall_list -%>
          <td>
            <% if r.complete != 1 -%>
                <%= link_to_function "点击完成", "finish_recall(#{r.id})" -%>
            <% else -%>
                已完成
            <% end -%>
          </td>
      <% end -%>
    </tr>
<% end %>
<script type="text/javascript">
    function finish_recall(rid) {
        $.ajax({
            type:"post",
            url:"/sales/recall_finish/" + rid,
            dataType:"json",
            success:function (data) {
                if (data.result == "success") {
                    alert(data.msg);
                    location.reload();
                } else {
                    alert(data.msg);
                }
            },
            error:function () {
                alert(data.msg);
            }
        });
    }
</script>