<style type="text/css">

</style>
<table class="common_tb firm_info" style="width:100%;margin-bottom: 20px;;">
  <tr>
    <td style="width:80%">
      <table style="width:100%">
        <tr>
          <td>
            <%= open_firm_page contact.firm.firm_name, contact.firm.id %> <br/>
            <% if params[:action] == "recommend_view" and @recommend.try(:successed?) -%>
                <%= interviewed_candidate_label contact -%>
            <% else -%>
                <%= candidate_label contact -%>
            <% end -%>
            <%= open_contact_page contact.full_name(true, true), contact.id %>
            <% if contact.want_new_job.to_i > 0 -%>
                <font style="color:red;">（联系人考虑进行工作变动）</font><br/>
            <% end -%>
            <% if current_user.is_res? -%>
                <%= protect_label(contact, contact.firm.id) -%>
            <% end -%>
            职业类型： <span class="blue_span"><%= contact.firm_type %></span> <br/>
            职位类型： <span class="blue_span"><%= contact.position %></span> <br/>
            当前职位： <span class="blue_span"><%= contact.position_cn %></span>
            <br/>
            地址：<%= contact.address %> <br/>
          </td>
          <td>
            期望职业类型：<span class="blue_span"><%= contact.expect_firm_type %></span> <br/>
            期望职位类型：<span class="blue_span"><%= contact.expect_position_type %></span> <br/>
            期望年薪：<span class="blue_span"><%= contact.expect_salary_type %></span> <br/>
            期望工作地点：<span class="blue_span"><%= contact.expect_work_place %></span> <br/>
            曾就职公司：<span class="blue_span"><%= contact.work_company %></span> <br/>
          </td>
          <td>
            出生日期： <span class="blue_span"><%= format_date contact.birthday, :date %></span> <br/>
            年龄： <span class="blue_span"><%= contact.age_label %></span> <br/>
            开始工作时间： <span class="blue_span"><%= format_date contact.start_work_date, :mon %></span> <br/>
            工作年数： <span class="blue_span"><%= contact.work_year_label %></span> <br/>
            简历：
            <% unless contact.contact_resumes.blank? -%>
                <% contact.contact_resumes.each do |resume| -%>
                    <%= link_to resume.load_path.split("/").last, {:action => "download_resume", :id => resume.id} %>
                    <br/>
                <% end -%>
            <% end -%>
          </td>
          <td>
            <img src="/images/phone.gif"><%= contact.phone %> <br/>
            <i style="font-weight: bold;font-size: 14px;margin-right:5px;">f</i><%= contact.fax %> <br/>
            <img src="/images/mobile.gif"><%= contact.mobile %> <br/>
            <img src="/images/email.gif"><%= contact.email %> <br/>
          </td>
        </tr>
        <tr>
          <td colspan="4">备注： <span class="blue_span"><%= h contact.notes %></span></td>
        </tr>
        <tr>
          <td colspan="4">期望职位备注： <span class="blue_span"><%= h contact.expect_prof_notes %></span></td>
        </tr>
        <tr>
          <td colspan="4">期望年薪备注： <span class="blue_span"><%= h contact.salary_notes %></span></td>
        </tr>
      </table>
    </td>
    <td>
      <div class="follow_info_title">跟进信息</div>
      <div class="follow_info"><%= contact.firm.grab_user_info %> <br/>
        <%= contact.candidate.grab_info if contact.is_candidate? -%>
      </div>
    </td>
  </tr>
</table>