<table class="common_tb firm_info" style="width:100%;margin-bottom: 20px;;">
  <tr>
    <td style="width:80%">
      <table style="width:80%">
        <tr><td width=300>ID: <%= open_link demand.id, "/#{params[:db_type]}/demand_view/#{demand.id}" %> <br/>
          职业类型： <%= demand.position_type_text %> <br>职位类型： <%= demand.position_type %> <br/>
          招聘人数： <%= demand.contact_num %></td>
          <td width=610>年薪范围： <%= demand.salary_type %> <br/>年薪备注： <%= demand.salary_notes %><br/>
            备注： <%= demand.demand_notes %></td>
          <td>
             工作地点： <%= demand.work_place %>      <br/>
            职位描述：<%= link_to "下载", {:action => "download_position_description", :id => demand.id} if demand.position_description -%>
          </td>
        </tr>
        <tr><td colspan="3">猎头方向: <%= demand.sales_notes %></td> </tr>
      </table>
    </td>
    <td>
      <div class="follow_info_title">跟进信息</div>
      <div class="follow_info">阶段：<%= demand.status %> <br><%= demand.firm.grab_user_info %></div>
    </td>
  </tr>
</table>