<table class="common_tb firm_info" style="width:100%;margin-bottom: 20px;;">
  <tr>
    <td style="width:80%">
      <table style="width:100%">
        <tr>
          <td><%= link_to_function firm.firm_name, "open_url('/#{params[:db_type]}/firm_show.php?id=#{firm.id}')" %>
            <br/>
            <%= firm.address %>
          </td>
          <td><img src="/images/phone.gif"><%= firm.phone %> <br/>
            <i style="font-weight: bold;font-size: 14px;margin-right:5px;">f</i><%= firm.fax %> <br/>
            <img src="/images/email.gif"><%= firm.email %> <br/>
            <img src="/images/website.gif"><%= link_to firm.website, "http://#{firm.website}", :popup => true %>
            <br/>
          </td>
        </tr>
        <tr>
          <td colspan="2">行业类型： <%= h firm.firm_categories.map { |c| c.name }.join("/") %>
            <%= link_to "修改", {:controller => params[:db_type],
                               :action => "edit_firm_cat", :firm_id => firm.id}, {:target => "_blank"} if @can_edit -%>
          </td>
        </tr>
        <% unless firm.product_notes.blank? -%>
            <tr>
              <td colspan="2">
                产品备注： <%= h firm.product_notes -%>
              </td>
            </tr>
        <% end -%>
        <tr>
          <td colspan="2" id="tag_td">
            产品关键字：
            <% if firm.firm_tags then
                 firm.firm_tags.each do |firm_tag| -%>
                    <%= firm_tag.tag.name -%>
                <% end -%>
            <% end -%>
            <%= link_to_function "添加关键字", "open_url('/#{params[:db_type]}/edit_firm_tag.php?firm_id=#{firm.id}')" -%>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            评级： <%= firm.rating_type -%> &nbsp;&nbsp;&nbsp;&nbsp;
            备注： <%= h firm.notes %></td>
        </tr>
        <tr>
          <td colspan="2">
            通讯录：
            <% unless firm.firms_contacts.blank? -%>
                <% firm.firms_contacts.each do |f| -%>
                    <%= link_to f.load_path.split("_").last, {:action => "download_contacts_file", :id => f.id} %>&nbsp;&nbsp;;&nbsp;&nbsp;
                <% end -%>
            <% end -%>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <div class="follow_info_title">跟进信息</div>
      <div class="follow_info"><%= firm.grab_user_info %></div>
      <br/>

      <div class="follow_info_title">签约销售</div>
      <div class="follow_info">
        <span id="signing_sales_span"><%= firm.signing_sale.username rescue "暂无" -%></span>
        <br/>
        <% if current_user.right_level > 2 -%>
            <%= select_tag :signing_sales, options_for_select(([['', '']]+@emps), firm.try(:signing_sales)), :style => "width:100px;" %>
            <%= button_to_function "设置签约销售", "set_sales()", :class => "btn btn-primary" -%>
        <% end -%>
      </div>
    </td>
  </tr>
</table>
<% if current_user.right_level > 2 -%>
    <script>
        function set_sales() {
            var id = $("#recall_firm_id").val()
            var sales_id = $("#signing_sales").val()
            $.ajax({
                type:"POST",
                url:"/res/set_signing_sales",
                data:{id:id, sales:sales_id},
                beforeSend:function () {
                    $("#signing_sales_span").html("正在努力加载...")
                },
                success:function (json) {
                    var j = eval('(' + json + ')');
                    if (j.success == "true") {
                        alert("操作成功！");
                        $("#signing_sales_span").html(j.username)
                    }
                    else {
                        $("#signing_sales_span").html("未知")
                        alert(j.info);
                    }
                }
            });
        }
    </script>
<% end -%>