<h1 class="title"><%= @title -%>
  <div style="float:right; margin-right: 100px;">
    <%= link_to_function "全选", "$('.chk').attr('checked', true)" -%> &nbsp;&nbsp;
    <%= link_to_function "取消选择", "$('.chk').attr('checked', false)" -%> &nbsp;&nbsp;
    <%= button_to_function "释放公司", "batch_ungrab()", :class => "btn" -%>
  </div>
</h1>
<% if current_user.is_admin? -%>
    <%= form_tag "/#{params[:db_type]}/my_firms" do %>
        <table style="width:20%" class="common_tb">
          <tr>
            <td>员工：<%= select_tag :user_id, options_for_select([['所有', 0]]+@employees, params[:user_id].to_i) %></td>
            <td>&nbsp;&nbsp;<%= submit_tag "搜索", :class => "btn btn-primary" %></td>
          </tr>
        </table>
    <% end -%>
<% end -%>

<%= page_links @firms %>
<table class="list_tb">
  <tr class="title">
    <td style="width:40%;">公司名称</td>
    <td>跟进的顾问</td>
    <td>获取时间</td>
    <td>联系人</td>
    <td>职位</td>
    <td>联系方式</td>
    <td>期待薪资</td>
    <td>备注</td>
    <td>操作</td>
  </tr>
  <% @firms.each do |f| -%>
      <% contacts = f.contacts.grabbed(params[:user_id]) -%>
      <% c = contacts.first -%>
      <% if contacts.size > 1 -%>
          <tr>
            <td rowspan="<%= contacts.size %>" valign="top">
              <%= check_box_tag "ids", f.id, nil, {:class => "chk"} -%>
              <%= open_firm_page f.firm_name, f.id -%></td>
            <td rowspan="<%= contacts.size %>" valign="top"><%= f.firm_leads[0].emp -%></td>
            <td rowspan="<%= contacts.size %>" valign="top"><%= f.firm_leads[0].grab_date.format_date(:date) -%></td>
            <%# contacts.each do |c| -%>
            <td> <%= candidate_label c -%>
              <%= open_contact_page c.full_name(true), c.id -%>
                <%= "(已离职)".red.html_safe if c.resigned.to_i > 0 -%>
            </td>
            <td> <%= c.position_cn -%> </td>
            <td> <%= c.phone1 -%> <%= c.mobile %></td>
            <td> <%= c.expect_salary_type -%> <%= simple_format c.salary_notes -%> </td>
            <td> <%= c.notes -%> </td>
            <td> <%= link_to "上传简历", {:controller => "res", :action => "contact_edit", :id => c.id}, {:target => "_blank"} -%> </td>
            <%# end -%>
          </tr>
          <% contacts.delete_if { |con| con.id == c.id } -%>
          <% contacts.each do |co| -%>
              <tr>
                <td> <%= candidate_label co -%>
                  <%= open_contact_page co.full_name(true), co.id -%> </td>
                <td> <%= co.position_cn -%> </td>
                <td> <%= co.phone1 -%> <%= co.mobile %></td>
                <td> <%= co.expect_salary_type -%> <%= simple_format co.salary_notes -%> </td>
                <td> <%= co.notes -%> </td>
                <td> <%= link_to "上传简历", {:controller => "res", :action => "contact_edit", :id => co.id}, {:target => "_blank"} -%> </td>
              </tr>
          <% end -%>
      <% else -%>
          <tr>
            <td valign="top">
              <%= check_box_tag "ids", f.id, nil, {:class => "chk"} -%>
              <%= open_firm_page f.firm_name, f.id -%></td>
            <td valign="top"><%= f.firm_leads[0].emp -%></td>
            <td valign="top"><%= f.firm_leads[0].grab_date.format_date(:date) -%></td>
            <% if c.blank? -%>
                <td></td><td></td><td></td>
                <td></td><td></td><td></td>
            <% else -%>
                <td> <%= candidate_label c -%>
                  <%= open_contact_page c.full_name(true), c.id -%>
                  <%= "(已离职)".red.html_safe if c.resigned.to_i > 0 -%>
                </td>
                <td> <%= c.position_cn -%> </td>
                <td> <%= c.phone1 -%> <%= c.mobile %></td>
                <td> <%= c.expect_salary_type -%> <%= simple_format c.salary_notes -%> </td>
                <td> <%= c.notes -%> </td>
                <td> <%= link_to "上传简历", {:controller => "res", :action => "contact_edit", :id => c.id}, {:target => "_blank"} -%> </td>
            <% end -%>
          </tr>
      <% end -%>
  <% end -%>
</table>
<%= page_links @firms %>
<script language="javascript">
    function batch_ungrab() {
        var ids = _.compact(_.map($(".chk"), function (c) {
            return (c.checked ? c.value : null);
        })).join(",");
        if (ids.length == 0) {
            alert("请选择公司！");
        }
        else {
            if (confirm("确定要释放吗?")) {
                $.post("<%= url_for(:action=>"ungrab_firm_batch", :controller => params[:db_type]) -%>", { ids:ids },
                        function (data) {
                            alert("成功释放！");
                            window.location.reload();
                        });
            }
        }

    }
</script>