<h1 class="title"><%= @title %>
    <%= link_to "所有未完成的call", {:action => "my_recall", :complete => 0, :appt_date_gte => "", :appt_date_lte => "", :from => "no_compt"}, :style => "float:right;" -%>
</h1>
<%= include_datepicker %>
<style>table select,table input[type=text]{width:120px;}</style>
<%= form_tag "/#{params[:db_type]}/my_recall" do%>
  <table class="common_tb" style="width:95%">
    <tr><td>
      安排时间：&ge; <%= text_field_tag :appt_date_gte, params[:appt_date_gte], :class => "datepicker" %>
      &le; <%= text_field_tag :appt_date_lte, params[:appt_date_lte], :class => "datepicker" %>
      完成时间：&ge; <%= text_field_tag :completed_at_gte, params[:completed_at_gte], :class => "datepicker" %>
      &le; <%= text_field_tag :completed_at_lte, params[:completed_at_lte], :class => "datepicker" %>
    </td>
    <td style="width: 30%;" rowspan="2">
      阶段： <%= select_tag "stage_id_in[]", options_for_select([['所有', '']]+Recall::STAGES, params[:stage_id_in]),
                 :multitype => true,:size=>5 %>
      <%= submit_tag "搜索", :class => 'btn btn-primary' %>
    </td> </tr>
    <tr><td>
      完成？ <%= select_tag :complete, options_for_select([['所有', ''], ['未完成', '0'], ['已完成', '1']], params[:complete]) %>
      创建时间 &ge; <%= text_field_tag :created_at_gte, params[:created_at_gte], :class => "datepicker" %>
      &le; <%= text_field_tag :created_at_lte, params[:created_at_lte], :class => "datepicker" %>
      备注： <%= text_field_tag :notes_like, params[:notes_like] %>
      <% if current_user.right_level > 2 -%>
      员工： <%= select_tag :employee_id_eq, options_for_select([['所有', '']]+@emps, params[:employee_id_eq].to_i) %>
      <% end -%>
    </td></tr>
  </table>
<% end %>

<%= page_links @recalls %>
<% @show_firm_in_recall_list = true -%>
<table class="list_tb">
  <tr class="title">
    <td>公司</td>
    <td>安排时间</td><td>联系人</td><td>联系方式</td><td>阶段</td><td>跟进员工</td><td>备注</td><td>操作</td></tr>
  <%= render :partial=>"/sales/recall/recall_list",:locals=>{:recalls=>@recalls} %>
</table>
<%= page_links @recalls %>