<h1 class="title"><%= @title %>
</h1>
<style>table select, table input[type=text] {
    width: 120px;
}
        .list_tb tr td{
            text-align: center;
        }
</style>
<%= form_tag "other_db_list" do %>
    <table class="common_tb">
      <tr>
        <td>
          省份: <%= select_tag "province_id", options_for_select(Province.all.map{ |p| [p.name_cn, p.id] }, params[:province_id]), {:include_blank => true} -%>
        </td>
        <td>
          关键词: <%= text_field_tag "keyword", params[:keyword] -%>
        </td>
        <td>
          性别: <%= text_field_tag "sex", params[:sex] -%>
        </td>
        <td>
          电话/Email: <%= text_field_tag "contact", params[:contact] -%>
        </td>
        <td>
          行业：<%= text_field_tag "industry", params[:industry] -%>
        </td>
        <td>
          年龄：>=<%= text_field_tag "age1", params[:age1], :style => "width:50px;" -%>&nbsp;
          <=<%= text_field_tag "age2", params[:age2], :style => "width:50px;" -%>
        </td>
        <td>
          <%= submit_tag "搜索", :class => 'btn btn-primary' %>
        </td>
      </tr>
    </table>
<% end %>
<% if current_user.is_admin? -%>
    <%= link_to_function "导出到EXCEL", "submit_to_download()", :style => "color:blue;margin-right:20px;" -%>
<% end -%>
<script>
    function submit_to_download(){
        $("form").attr("action", "export_source_to_excel");
        $("form").submit()
    }
</script>

<%= page_links @candidates %>

<table class="list_tb">
  <tr class="title">
    <th width=80>姓名</th>
    <th width=50>性别</th>
    <th width=90>所在城市</th>
    <th width=200>期望行业</th>
    <th width=150>期望职位</th>
    <th width=150>期望工资</th>
    <th width=200>Email</th>
    <th width=150>手机</th>
    <th>备注</th>
  </tr>
  <% @candidates.each do |c| -%>
      <tr>
        <td><%= link_to c.name, {:action => "other_db_show", :id => c.id}, {:target => :blank} -%></td>
        <td><%= h c.sex -%></td>
        <td><%= h c.city -%></td>
        <td style="text-align: left;"><%= h c.industry -%></td>
        <td style="text-align: left;"><%= h c.job_post -%></td>
        <td><%= h c.salary -%></td>
        <td style="text-align: left;"><%= h c.email -%></td>
        <td style="text-align: left;"><%= h c.mobile -%></td>
        <td><%= truncate(c.remarks, :length => 50) -%></td>
      </tr>
  <% end -%>

</table>
<%= page_links @candidates %>